/**
 * Code Declaration order guide used by Bootstrap: https://codeguide.co/#css-organization
 */

/* utility styles */

/* give spacing between other HTML elements when used */
div.height-30 { padding: 30px 0; }
div.height-60 { padding: 60px 0; }


/* common css to all elements */
* {
  margin: 0;
  outline: none;
  color: #111827;
}

/* Body CSS font and color declaration */
body {
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;

  background-color: #fafbfd;
}

/**
 * Card Component CSS
 */

/* card CSS */
.card {
  background-color: #fff;
  box-shadow: 0px 4px 10.8px rgba(0, 0, 0, 0.03), 
              0px 12px 24px rgba(0, 0, 0, 0.02);
}

/**
 * Navigation Bar CSS
 */

/* NavBar wrapper CSS */
.navbar {
  position: fixed;

  display: inline-block;
  width: 100%;
  padding: 20px 0;

  background-color: #fff;
  box-shadow: 0px 4px 10.8px rgba(0, 0, 0, 0.03), 
              0px 12px 24px rgba(0, 0, 0, 0.02);

  z-index: 2;
}

/* NavBar Back button link CSS */
.navbar > a {
  display: inline-table;
  vertical-align: middle;
  margin: 0 20px;
  padding: 6px 12px;

  font-size: 18px;
  font-family: 'Poppins';
  text-decoration: none;
  color: #e3fdff;

  background: linear-gradient(135deg, #20CFED 0%, #10AAE9 100%);
  border-radius: 6px;
  box-shadow: 0px 4px 10.8px rgba(0, 0, 0, 0.03), 
              0px 12px 24px rgba(0, 0, 0, 0.02);

  transition: 0.2s ease-in-out;
}

/* NavBar Back button link CSS hover action */
.navbar > a:hover {
  transform: scale(1.07);
}

/* NavBar Title CSS */
.navbar > div {
  display: inline;

  font-weight: 600;
  font-size: 20px;
}

