div.wrapper {
  margin: auto;
  width: 80%;
  /* margin-top: 60px; */
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
}

td {
  border: 1px solid #aaa;
  padding: 56px 8px;
}

.grid-item { border: 1px solid #999; }

.container { 
  box-sizing: border-box;
  font-size: 0;
}

.container1 {
  margin: 0 auto;
  width: calc(1100px + 6px);
}

.container1 > .grid-item {
  display: inline-block;
  width: calc(1100px/3);
  height: 150px;
}

.container1 > .grid-item:nth-child(4) { width: calc(1100px + 4px); }

.container2 {
  margin: 0 auto;
  width: calc(1100px + 6px);
}

.container2 > .grid-item {
  display: inline-block;
  width: calc(1100px/4);
  height: 150px;
}

.container2 > .grid-item:nth-child(6), 
.container2 > .grid-item:nth-child(5) { width: calc(1100px/4 - 1px); }

.container2 > .grid-item:first-child, 
.container2 > .grid-item:nth-child(2), 
.container2 > .grid-item:nth-child(3),
.container2 > .grid-item:nth-child(4){ width: calc(1100px/2 ); }

.container2 > .grid-item:nth-child(4) { 
  height: 300px; 
  float: right; 
  font-size: 0;
  transform: translate(-2.5px, 0.5px)
}

/* .container2 > .grid-item:nth-child(4) { border-bottom: 1px solid transparent } */

.container3 {
  margin: 0 auto;
  width: calc(1100px + 8px);
}

.container3 > .grid-item {
  display: inline-block;
  width: calc(1100px/4);
  height: 150px;
}

.container3 > .grid-item:first-child {
  width: calc(1100px + 6px);
}

.container3 > .grid-item:nth-child(5) {
  height: 301.5px; 
  float: right;
}

.container4 {
  margin: 0 auto;
  width: calc(1100px + 4px);
}

.container4 > .grid-item {
  display: inline-block;
  width: calc(1100px/2);
  height: 150px;
}


.container4 > .grid-item:nth-child(1) { 
  border-top: 1px solid #999; 
  height: calc(4* 151px + 2px);
  float: left;
}


.container5 {
  margin: 0 auto;
  width: calc(1100px + 10px);
}

.container5 > .grid-item {
  display: inline-block;
  width: calc(1100px/5);
  height: 150px;
}

.container5 > .grid-item:nth-child(2) { width: calc(1100px*2/5 + 2px); }

.container5 > .grid-item:nth-child(5) { 
  height: calc(2*151px); 
  float: left; 
}
.container5 > .grid-item:nth-child(8),
.container5 > .grid-item:nth-child(9) { 
  height: calc(2*151px); 
  float: right; 
}
